<div style="width:100%; border-bottom: 1px solid #ccc;">
<h1 style="text-align: center;">New User</h1>
</div>

<%= render 'form' %>

<div style="width: 100%; text-align: center; ">
    <%= link_to 'Back', login_path %>
</div>
